 <section class="slider-section">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
                <div class="item active">
                   <div class="slider-overlay"></div>
                    <img src="assets/images/slide-one-01.jpg" alt="Slider One Image">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 slider-content">
                                <div class="slider-content-inner">
                                    <h2>Welcome To Elevation</h2>
                                    <h1 class="delay1">Best For Charity</h1>
                                    <p class="delay3">Continually redefine team building products rather than theme parallel world a class growth strategies for awesoem.</p>
                                    <div class="slider-button delay4">
                                        <a href="#" class="green-button button-hover-one">Donate Now <i class="fa fa-heart" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                   <div class="slider-overlay"></div>
                    <img src="assets/images/slide-one-02.jpg" alt="Slider One Image">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 slider-content">
                                <div class="slider-content-inner">
                                    <h2>Give A Helping Hand</h2>
                                    <h1 class="delay1">For Education</h1>
                                    <p class="delay3">Continually redefine team building products rather than theme parallel world a class growth strategies for awesoem.</p>
                                    <div class="slider-button delay4">
                                        <a href="#" class="green-button button-hover-one">Donate Now <i class="fa fa-heart" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                   <div class="slider-overlay"></div>
                    <img src="assets/images/slide-one-03.jpg" alt="Slider One Image">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 slider-content">
                                <div class="slider-content-inner">
                                    <h2>Donate & Help</h2>
                                    <h1 class="delay1">for African Child</h1>
                                    <p class="delay3">Continually redefine team building products rather than theme parallel world a class growth strategies for awesoem.</p>
                                    <div class="slider-button delay4">
                                        <a href="#" class="green-button button-hover-one">Donate Now <i class="fa fa-heart" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
      </div>
    </section>