<!-- == Image box == -->
<div class="blog-detail-page mt85 mb60">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <article class="blog-post ">
          <br>
          <div class="image">
            <img *ngIf="news?.mainPhoto!=null" [src]="news?.mainPhoto" class="img-responsive" />
          </div>
          <div class="blog-text">
            <div class="meta-description">
                                <span class="post-date">
                                    Posted : <a href="#">{{news?.dateOfCreation}}</a>
                                </span>
              <span class="author-name">
                                    Author :  <a href="#">{{news?.author}}</a>
                                </span>
              <span class="post-categories">
                                    Location : <a href="#">{{news?.location}}</a>
                                </span>
            </div>
            <div class="blog-content divwrap">
              <h3><a href="#">{{news?.title}}</a></h3>
              <hr>
              <div class="aaaa" [innerHTML]="news?.content | htmlremovehr | noSanitize">

              </div>

              <div class="row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-7">
                  <div class="share-social-media text-right">
                    Share :
                    <ul>
                      <li><a href="#!"><i class="fa fa-facebook-square"></i></a></li>
                      <li><a href="#!"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#!"><i class="fa fa-pinterest"></i></a></li>
                      <li><a href="#!"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="#!"><i class="fa fa-skype"></i></a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
            <br>
            <disqus [shortname]="shortname" [identifier]="news?.id" ></disqus>
          </div>

        </article>

      </div>
      <div class="col-lg-3 col-md-4">
        <div class="sidebar">
          <aside class="recent-post pdt15">
            <h4>Recent Posts</h4>
            <div class="post-item">
              <div class="image">
                <img src="assets/images/causes/5.jpg" alt="images">
              </div>
              <div class="text">
                <h5><a href="#">Recent Trends Included in Theme</a></h5>
                <span >Dec 12 - 2015</span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="post-item">
              <div class="image">
                <img src="assets/images/causes/5.jpg" alt="images">
              </div>
              <div class="text">
                <h5><a href="#">HUGE Offers Unlimited Design Elements</a></h5>
                <span >Dec 12 - 2015</span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="post-item">
              <div class="image">
                <img src="assets/images/causes/5.jpg" alt="images">
              </div>
              <div class="text">
                <h5><a href="#">You Can Create Your Great Designs</a></h5>
                <span >Dec 12 - 2015</span>
              </div>
              <div class="clear"></div>
            </div>
          </aside>
         </div>
      </div>
    </div>
  </div>
</div>
<!-- //  Image box  -->
