<!-- == Image box == -->
<div class="blog-detail-page mt85 mb60">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <article class="blog-post ">
          <div class="image">
            <img src="assets/images/blog/1.jpg" class="img-responsive" />
          </div>
          <div class="blog-text">
            <div class="meta-description">
                                <span class="post-date">
                                    Posted : <a href="#">{{news?.dateOfCreation}}</a>
                                </span>
              <span class="author-name">
                                    Author :  <a href="#">{{news?.author}}</a>
                                </span>
              <span class="post-categories">
                                    Location : <a href="#">{{news?.location}},</a>
                                </span>
              <a href="#" class="comment pull-right"><i class="fa fa-commenting-o" aria-hidden="true"></i>245</a>
            </div>
            <div class="blog-content">
              <h3><a href="#">{{news?.title}}</a></h3>
              <p>
                {{news?.content}}
              </p>

              <div class="row">
                <div class="col-sm-5">
                  <div class="tag-name">
                    Tag : <span><a href="#">Children</a>,<a href="#">Donate</a></span>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="share-social-media text-right">
                    Share :
                    <ul>
                      <li><a href="#!"><i class="fa fa-facebook-square"></i></a></li>
                      <li><a href="#!"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#!"><i class="fa fa-pinterest"></i></a></li>
                      <li><a href="#!"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="#!"><i class="fa fa-skype"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </article>
        <div class="related-post">
          <h3>Related Posts</h3>
          <div class="row related-blog-post-carosel">
            <div class="carosle-item">
              <div class="image">
                <img src="assets/images/blog/4.jpg" class="img-responsive" alt="blog post">
                <div class="icon">
                  <a href="#" class="eye-icon"><i class="fa fa-eye-slash"></i></a>
                  <a href="#" class="link-icon"><i class="fa fa-link"></i></a>
                </div>
              </div>
              <div class="meta-box">
                <span><i class="fa fa-user"></i>Admin</span>
                <span><i class="fa fa-calendar-o"></i>May 24</span>
                <span><i class="fa fa-comment"></i>78</span>
                <span><i class="fa fa-heart"></i>41</span>
              </div>
              <div class="text">
                <h4><a href="#">Simple Image Post</a></h4>
                <p>Lorem Ipsum is simply dummy text of the rinting and typesetting industry. Lorem Ipsum has been the industrys standard ...</p>
              </div>
            </div> <!--/.carosle-item-->
            <div class="carosle-item">
              <div class="image">
                <img src="assets/images/blog/4.jpg" class="img-responsive" alt="blog post">
                <div class="icon">
                  <a href="#" class="eye-icon"><i class="fa fa-eye-slash"></i></a>
                  <a href="#" class="link-icon"><i class="fa fa-link"></i></a>
                </div>
              </div>
              <div class="meta-box">
                <span><i class="fa fa-user"></i>Admin</span>
                <span><i class="fa fa-calendar-o"></i>May 24</span>
                <span><i class="fa fa-comment"></i>78</span>
                <span><i class="fa fa-heart"></i>41</span>
              </div>
              <div class="text">
                <h4><a href="#">Amazing Video Post</a></h4>
                <p>Lorem Ipsum is simply dummy text of the rinting and typesetting industry. Lorem Ipsum has been the industrys standard ...</p>
              </div>
            </div><!--/.carosle-item-->
            <div class="carosle-item">
              <div class="image">
                <img src="assets/images/blog/4.jpg" class="img-responsive" alt="blog post">
                <div class="icon">
                  <a href="#" class="play-icon"><i class="fa fa-play"></i></a>
                </div>
              </div>
              <div class="meta-box">
                <span><i class="fa fa-user"></i>Admin</span>
                <span><i class="fa fa-calendar-o"></i>May 24</span>
                <span><i class="fa fa-comment"></i>78</span>
                <span><i class="fa fa-heart"></i>41</span>
              </div>
              <div class="text">
                <h4><a href="#">Simple Image Post</a></h4>
                <p>Lorem Ipsum is simply dummy text of the rinting and typesetting industry. Lorem Ipsum has been the industrys standard ...</p>
              </div>
            </div><!--/.carosle-item-->
            <div class="carosle-item">
              <div class="image">
                <img src="assets/images/blog/4.jpg" class="img-responsive" alt="blog post">
                <div class="icon">
                  <a href="#" class="eye-icon"><i class="fa fa-eye-slash"></i></a>
                  <a href="#" class="link-icon"><i class="fa fa-link"></i></a>
                </div>
              </div>
              <div class="meta-box">
                <span><i class="fa fa-user"></i>Admin</span>
                <span><i class="fa fa-calendar-o"></i>May 24</span>
                <span><i class="fa fa-comment"></i>78</span>
                <span><i class="fa fa-heart"></i>41</span>
              </div>
              <div class="text">
                <h4><a href="#">Simple Image Post</a></h4>
                <p>Lorem Ipsum is simply dummy text of the rinting and typesetting industry. Lorem Ipsum has been the industrys standard ...</p>
              </div>
            </div><!--/.carosle-item-->
          </div>
        </div>
        <div class="post-comment pdt15">
          <h3>2 Comments</h3>
          <div class="single-comment">
            <div class="image">
              <img src="assets/images/blog/5.jpg" alt="blog post">
            </div>
            <div class="comment-content">
              <div class="autor"><a href="#">Reena Scot </a> 22 April - 2013</div>
              <p>Lorem Ipsum is simply dummy text of the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s, when an unknown printer.</p>
              <a href="#" class="replay-button">REPLY</a>
            </div>
            <div class="clear"></div>
          </div>
          <div class="single-comment">
            <div class="image">
              <img src="assets/images/blog/5.jpg" alt="blog post">
            </div>
            <div class="comment-content">
              <div class="autor"><a href="#">Reena Scot </a> 22 April - 2013</div>
              <p>Lorem Ipsum is simply dummy text of the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s, when an unknown printer.</p>
              <a href="#" class="replay-button">REPLY</a>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="contact-from pdb50">
          <h3>Leave A Reply</h3>
          <form>
            <div class="row">
              <div class="col-sm-4">
                <div class="single-input-box">
                  <input type="text" placeholder="Full Name" class="form-control">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-input-box">
                  <input type="text" placeholder="Email Address" class="form-control">
                  <i class="fa fa-envelope-o"></i>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-input-box">
                  <input type="text" placeholder="Your Website" class="form-control">
                  <i class="fa fa-globe"></i>
                </div>
              </div>
            </div>
            <div class="single-input-box">
              <textarea  cols="40" placeholder="Type here message"></textarea>
              <i class="fa fa-comments"></i>

            </div>
            <input type="submit" value="post comment" class="green-button">
          </form>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="sidebar">
          <aside class="search-two mt15">
            <form  action="#" method="post">
              <input type="text" placeholder="Search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </aside>
          <aside class="recent-post pdt15">
            <h4>Recent Posts</h4>
            <div class="post-item">
              <div class="image">
                <img src="assets/images/causes/5.jpg" alt="images">
              </div>
              <div class="text">
                <h5><a href="#">Recent Trends Included in Theme</a></h5>
                <span >Dec 12 - 2015</span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="post-item">
              <div class="image">
                <img src="assets/images/causes/5.jpg" alt="images">
              </div>
              <div class="text">
                <h5><a href="#">HUGE Offers Unlimited Design Elements</a></h5>
                <span >Dec 12 - 2015</span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="post-item">
              <div class="image">
                <img src="assets/images/causes/5.jpg" alt="images">
              </div>
              <div class="text">
                <h5><a href="#">You Can Create Your Great Designs</a></h5>
                <span >Dec 12 - 2015</span>
              </div>
              <div class="clear"></div>
            </div>
          </aside>
          <aside class="social-widget">
            <h4>Social Widgets</h4>
            <a href="#" class="social facebook-follower">
              <div class="icon">
                <i class="fa fa-facebook"></i>
              </div>
              2598
            </a>
            <a href="#" class="social twitter-follower">
              <div class="icon">
                <i class="fa fa-twitter"></i>
              </div>
              4576
            </a>
            <a href="#" class="social google-follower">
              <div class="icon">
                <i class="fa fa-google"></i>
              </div>
              1269
            </a>
          </aside>
          <aside class="archives">
            <h4>Archives</h4>
            <ul>
              <li><a href="#"><span><i class="fa fa-angle-right"></i></span>December 2014</a></li>
              <li><a href="#"><span><i class="fa fa-angle-right"></i></span>November 2014</a></li>
              <li><a href="#"><span><i class="fa fa-angle-right"></i></span>October 2014</a></li>
              <li><a href="#"><span><i class="fa fa-angle-right"></i></span>September 2014</a></li>
              <li><a href="#"><span><i class="fa fa-angle-right"></i></span>August 2014</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //  Image box  -->
