<!--
<button (click)="getAll()">Get all job offers</button>
<button (click)="getById(1)">Get job offer with id 2</button>
<button (click)="getByDcId(4)">Get job offer with district chief id 4</button>
<button (click)="deleteJO(1)">delete job offer with id 2</button>
<br>
<button (click)="etat2=!etat2">Add job offer</button>
<button type="text"
        (click)="etat2=!etat2"
        pButton
        icon="fa-plus"
        label="Add a job offer"></button>
<button (click)="showUpdate(1)">update job offer 2</button>
<button (click)="getBestCandsEmail(2)">Get best candidates & email them</button>
<div *ngIf="etat">
  <div class="row">
    <div *ngFor="let jo of jobOffers" class="col-lg-4 col-sm-4">
      <div *ngIf="displayDetail">


          <p>{{jo.begindate}}</p>
          <p>{{jo.enddate}}</p>
          <p>{{jo.contactnumber}}</p>
          <p>{{jo.fieldOfWork}}</p>
          <p>{{jo.salaryEstimate}}</p>
          <p>{{jo.companyName}}</p>
          <p>{{jo.companyAdress}}</p>
          <p>{{jo.contactEmail}}</p>
          <p>{{jo.contactName}}</p>

      </div>
      <div class="image-box" (click)="changeState(displayDetail)">

        <div class="text" style="text-align: center">
          <h2>{{jo.title}}</h2>
          <p>
            {{jo.description}}
             </p>
          <button type="text"
                  class="ui-button-warning"
                  pButton
                  icon="fa fa-pencil"
                  ></button>
          <button type="text"
                  class="ui-button-danger"
                  pButton
                  icon="fa fa-trash"
                  ></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="error!=''">
  {{error}}
</div>
<p-dialog [(visible)]="etat2" [width]="400" modal="modal" [responsive]="true">
  <p-header>
    Job offer creation
  </p-header>

  <form [formGroup]="jobofferForm"
        (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td><label>Title</label></td>
      <td><input class="form-control"  formControlName="title" type="text"></td>
    </tr>
    <tr>
      <td><label>Contact name</label></td>
      <td><input class="form-control" formControlName="contactN" type="text"></td>
    </tr>
    <tr>
      <td><label>Company name</label></td>
      <td><input class="form-control" formControlName="companyN" type="text"></td>
    </tr>
    <tr>
      <td><label>Company adress</label></td>
      <td><input class="form-control" formControlName="companyA" type="text"></td>
    </tr>
    <tr>
      <td><label>Contact email</label></td>
      <td><input class="form-control" formControlName="contactE" type="text"></td>
    </tr>
    <tr>
      <td><label>Description</label></td>
      <td><textarea class="form-control" formControlName="desc" cols="20" rows="5"></textarea></td>
    </tr>
    <tr>
      <td><label>Start date</label></td>
      &lt;!&ndash;<td><input class="form-control" formControlName="bd" type="date"></td>&ndash;&gt;
      <td><p-calendar [(ngModel)]="date3" formControlName="bd" showButtonBar="true" [showIcon]="true"></p-calendar> <span style="margin-left:35px"></span></td>
    </tr>
    <tr>
      <td><label>End date</label></td>
      <td><input class="form-control" formControlName="ed" type="date"></td>
    </tr>
    <tr>
      <td><label>Contact number</label></td>
      <td><input class="form-control" formControlName="contactNumber" type="number" pattern="[0-9]+"></td>
    </tr>
    <tr>
      <td><label>Field of work</label></td>
      <td><input class="form-control" formControlName="fow" type="text"></td>
    </tr>
    <tr>
      <td><label>Salary estimate</label></td>
      <td> <input class="form-control" formControlName="salaryE" type="number" pattern="[0-9]+"></td>
    </tr>
    <hr>
    <tr>
      <td></td>
      <td>  <button
        pButton
        type="submit"
        icon="fa-check"
        label="Create"></button>
      </td>
    </tr>
  </table>




  </form>

</p-dialog>
<div *ngIf="etat3">
  <ul *ngFor="let r of refugees">
    <li>{{r.firstname}} {{r.lastName}}</li>
    <li>{{r.sex}}</li>
    <li>{{r.dateOfBirth}}</li>
    <li>{{r.nationality}}</li>
    <li>{{r.frenchlanguageLevel}}</li>
    <li>{{r.englishlanguageLevel}}</li>
    <li>{{r.highestDegree}}</li>
    <li>{{r.yearsOfExperience}}</li>
    <li>{{r.email}}</li>
    <li>{{r.fieldOfWork}}</li>
    <li>{{r.adress}}</li>
    <li>{{r.phoneNumber}}</li>
  </ul>
</div>



-->
<div class="row">
  <div class="col-md-5 mTop25" >
    <app-job-offers-list ></app-job-offers-list>
  </div>
  <div class="col-md-7 mTop25 scrollAndFixedHeight">
    <app-job-offers-detail
      *ngIf="joSelected || etat;else infoText"
      [joInDetail]="joSelected" [etatInDetail]="etat"></app-job-offers-detail>
    <ng-template #infoText>
      <strong>Please select a job offer to view the details</strong>
    </ng-template>
  </div>
</div>
