 <section class="testimonial-area mt75 pdb80">
        <div class="container-fluid">
            <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                <div class="row">
                    <div class="col-lg-8 col-md-8 mt85 col-sm-7">
                       <!-- Wrapper for slides -->
                       <div class="carousel-inner ">
                           <div class="item active">
                               <div class="quote">
                                   I understand the difficulties that people at there faced. In order to <strong>contribute to resolve</strong> this problems, our nonprofit organization usually part in <strong>charity events</strong> and activities.
                               </div>
                               <p>Bacon questioned the Aristotelian concepts of formal cause and final cause, and promoted the idea that science should study the laws of "simple" natures, such as heat, rather than assuming</p>
                           </div>
                           <!-- End Item -->
                           <div class="item">
                               <div class="quote">
                                   In order to <strong>contribute to resolve</strong> this problems, our nonprofit organization usually part in <strong>charity events</strong> and activities. I understand the difficulties that people at there faced.
                               </div>
                               <p>Aristotelian concepts of formal cause and final cause, Bacon questioned the  and promoted the idea that science should study the laws of "simple" natures, such as heat, rather than assuming</p>
                           </div>
                           <!-- End Item -->
                           <div class="item">
                               <div class="quote">
                                   Our nonprofit organization usually I understand the difficulties that people at there faced. In order to <strong>contribute to resolve</strong> this problems, part in <strong>charity events</strong> and activities.
                               </div>
                               <p>Bacon questioned the Aristotelian concepts of formal cause and final cause, and promoted the idea that science should study the laws of "simple" natures, such as heat, rather than assuming</p>
                           </div>
                           <!-- End Item -->
                           <div class="item">
                               <div class="quote">
                                   Our nonprofit organization usually I understand the difficulties that people at there faced. In order to <strong>contribute to resolve</strong> this problems, part in <strong>charity events</strong> and activities.
                               </div>
                               <p>Bacon questioned the Aristotelian concepts of formal cause and final cause, and promoted the idea that science should study the laws of "simple" natures, such as heat, rather than assuming</p>
                           </div>
                           <!-- End Item -->
                           <div class="service-controller-thumb">
                               <ul class="navigation-control">
                                   <!-- <li class="prev-step"><i class='ion-ios-arrow-left'></i></li> -->
                                   <li class="next-step"><i class='ion-ios-arrow-thin-right'></i></li>
                               </ul>
                           </div>
                       </div>
                       <!-- End Carousel Inner -->

                   </div>
                   <!-- End Carousel -->
                    <div class="col-md-4 col-lg-4  col-sm-5">
                        <ul class="testimonial-carousel-control-nav pdt100">
                            <li data-target="#testimonial-carousel" data-slide-to="0" class="active">
                                <a href="#" data-toggle="tab">
                                    <img src="assets/images/home/11.jpg" class="img-responsive" alt="client thumb" /><span>Mark Russhel  -  CEO at CTOA Inc.</span>
                                </a>
                            </li>
                            <li data-target="#testimonial-carousel" data-slide-to="1">
                                <a href="#" data-toggle="tab">
                                    <img src="assets/images/home/12.jpg" class="img-responsive" alt="client thumb" /><span>Mark Russhel  -  CEO at CTOA Inc.</span>
                                </a>
                            </li>
                            <li data-target="#testimonial-carousel" data-slide-to="2">
                                <a href="#" data-toggle="tab">
                                    <img src="assets/images/home/13.jpg" class="img-responsive" alt="client thumb" /><span>Mark Russhel  -  CEO at CTOA Inc.</span>
                                </a>
                            </li>
                            <li data-target="#testimonial-carousel" data-slide-to="3">
                                <a href="#" data-toggle="tab">
                                    <img src="assets/images/home/14.jpg" class="img-responsive" alt="client thumb" /><span>Mark Russhel  -  CEO at CTOA Inc.</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Testimonial  -->
    <!-- == Get strated == -->
    <div class="get-started">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="left">
                        <div class="content">
                            <h2>Ready To Get Started?</h2>
                            <p>But I must explain to you how all this mistaken idea of denouncing </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="right text-right">
                        <a href="#" class="white-button">Start here<i class='ion-ios-arrow-thin-right'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Get strated  -->
    