    <!-- == Image box == -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-us-gretting pdt90 pdb35">
                        We are <a class="green" href="#">charity/ non-profit/ fundraising/ NGO</a> organizations. Our charity activities are taken place around the world.
                        <span class="sub">You Can Help Lots Of People By Donating Little. See Our Causes</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <div class="image-box">
                        <div class="image">
                            <img src="assets/images/home/1.jpg" alt="charity" />
                            <a href="#" class="green-button button-hover-one">Donate Now</a>
                        </div>
                        <div class="text">
                            <h3><a href="#">First charity activity</a></h3>
                            <p>
                                As a non-profit organization with many years of opera tion, we always strive for our mission with a modern vision and we hope more people...
                            </p>
                            <div class="single-progress">
                                <div class="barfiller barfiller50">
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                    <span class="fill" data-percentage="50"></span>
                                </div>
                                <div class="raised-goal">
                                    <div class="raised">
                                        RAISED <span class="green">$2,500.00</span>
                                    </div>
                                    <div class="goal text-right">
                                        GOAL <span class="green">$5,000.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.image-box-->
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="image-box">
                        <div class="image">
                            <img src="assets/images/home/2.jpg" alt="charity" />
                            <a href="#" class="green-button button-hover-one">Donate Now</a>
                        </div>
                        <div class="text">
                            <h3><a href="#">water system for rural poor</a></h3>
                            <p>
                                As a non-profit organization with many years of opera tion, we always strive for our mission with a modern vision and we hope more people...
                            </p>
                            <div class="single-progress">
                                <div class="barfiller barfiller50">
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                    <span class="fill" data-percentage="50"></span>
                                </div>
                                <div class="raised-goal">
                                    <div class="raised">
                                        RAISED <span class="green">$2,500.00</span>
                                    </div>
                                    <div class="goal text-right">
                                        GOAL <span class="green">$5,000.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.image-box-->
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="image-box ">
                        <div class="image">
                            <img src="assets/images/home/3.jpg" alt="charity" />
                            <a href="#" class="green-button button-hover-one">Donate Now</a>
                        </div>
                        <div class="text">
                            <h3><a href="#">Education for Children</a></h3>
                            <p>
                                As a non-profit organization with many years of opera tion, we always strive for our mission with a modern vision and we hope more people...
                            </p>
                            <div class="single-progress">
                                <div class="barfiller barfiller50">
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                    <span class="fill" data-percentage="50"></span>
                                </div>
                                <div class="raised-goal">
                                    <div class="raised">
                                        RAISED <span class="green">$2,500.00</span>
                                    </div>
                                    <div class="goal text-right">
                                        GOAL <span class="green">$5,000.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.image-box-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center mt30">
                        <a href="#" class="button-style-two">See All</a>
                    </div>
                </div>
            </div>
        </div>
