<section class="event-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading mb20 section-padding">
                        <h2>Upcoming Events</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="event-list">
                        <article class="event-item">
                            <div class="image">
                                <img src="assets/images/event/1.jpg" class="img-responsive" alt=" ">
                                <div class="date green-ovelay">
                                    <span class="day">15</span>
                                    <span class="year">January 2017</span>
                                </div>
                            </div>
                            <div class="about-event">
                                <h3>Auction photographs: Poor <br/>childrens smile</h3>
                                <div class="meta-describetion">
                                    <span><i class="ion-clock green"></i>08:00 - 16:00</span>
                                    <span><i class="ion-ios-location green"></i>90012 South Street, Sanford, FL</span>
                                </div>
                                <a href="#">Read More</a>
                            </div>
                        </article><!-- /.event-item -->
                        <article class="event-item">
                            <div class="image">
                                <img src="assets/images/event/3.jpg" class="img-responsive" alt=" ">
                                <div class="date naviblue-ovelay">
                                    <span class="day">16</span>
                                    <span class="year">February 2017</span>
                                </div>
                            </div>
                            <div class="about-event">
                                <h3>Campaign: <br/>Fundraising for meals</h3>
                                <div class="meta-describetion">
                                    <span><i class="ion-clock green"></i>08:00 - 16:00</span>
                                    <span><i class="ion-ios-location green"></i>Sanfransico, CA</span>
                                </div>
                                <a href="#">Read More</a>
                            </div>
                        </article><!-- /.event-item -->
                        <article class="event-item">
                            <div class="image">
                                <img src="assets/images/event/3.jpg" class="img-responsive" alt=" ">
                                <div class="date orange-ovelay">
                                    <span class="day">26</span>
                                    <span class="year">March 2017</span>
                                </div>
                            </div>
                            <div class="about-event">
                                <h3>SPONSOR HOLISTIC CARE OF <br/>UNDERPRIVILEGED</h3>
                                <div class="meta-describetion">
                                    <span><i class="ion-clock green"></i>08:00 - 16:00</span>
                                    <span><i class="ion-ios-location green"></i> Bronx NY, United States</span>
                                </div>
                                <a href="#">Read More</a>
                            </div>
                        </article><!-- /.event-item -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="become-volienter pdb80">
                        <div class="text">
                            <h3> BECOME A<br/>
                            <span class="green">VOLUNTEER</span></h3>
                            <p>Quis autem velum iure reprehe nderit. Lorem ipsum dolor sit dum in sagittis. Nulla or narjusto laoreet onse ctetur adipisci adipiscing elitliquam vitae fring.</p>
                        </div>
                        <a href="#!" class="green-button button-hover-one">Sign up today</a>
                    </div>
                    <div class="statistic">
                        <h4>Statistics</h4>
                         <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>