<p><strong>Name </strong>{{r.firstname}} {{r.lastName}}</p>
<p><strong>Gender </strong>{{r.sex}}</p>
<p><strong>Date of birth </strong>{{r.dateOfBirth}}</p>
<p><strong>Nationality </strong>{{r.nationality}}</p>
<p><strong>French language level </strong>{{r.frenchlanguageLevel}}</p>
<p><strong>English language level </strong>{{r.englishlanguageLevel}}</p>
<p><strong>Highest degree </strong>{{r.highestDegree}}</p>
<p><strong>Years of experience </strong>{{r.yearsOfExperience}}</p>
<p><strong>Email </strong>{{r.email}}</p>
<p><strong>Field of work </strong>{{r.fieldOfWork}}</p>
<p><strong>Adress </strong>{{r.adress}}</p>
<p><strong>Phone number </strong>{{r.phoneNumber}}</p>
