<!-- == Blog Section == -->
    <section class="blog">
        <div class="container">
            <div class="section-heading text-center section-padding mb50">
                <h2>Our Recent News</h2>
                <span>You Can Help Lots Of People By Donating Little. See Our Blog Feed</span>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-carousel carousel-active">
                        <article class="blog-carousel-item">
                            <img src="assets/images/home/7.jpg" class="img-responsive" alt="blog carousel">
                            <div class="blog-item white">
                                <header  class="blog-heading">
                                    <h4><a href="#">How to survive the tough <br/>path of life</a></h4>
                                    <div class="meta-discibtion">
                                        <span>By <a href="#">{{news[0].author}}</a></span>|<span>Dec 5th, 2016</span>
                                    </div>
                                </header>
                            </div>
                            <img class="over-right" src="assets/images/home/lime.png" alt="">
                        </article><!--/.blog-carousel-item-->
                        <article class="blog-carousel-item">
                            <img src="assets/images/home/7.jpg" class="img-responsive" alt="blog carousel">
                            <div class="blog-item white">
                                <header  class="blog-heading">
                                    <h4><a href="#">How to survive the tough <br/>path of life</a></h4>
                                    <div class="meta-discibtion">
                                        <span>By <a href="#">Admin</a></span>|<span>Dec 5th, 2016</span>
                                    </div>
                                </header>
                            </div>
                            <img class="over-right" src="assets/images/home/lime.png" alt="">
                        </article><!--/.blog-carousel-item-->
                        <article class="blog-carousel-item">
                            <img src="assets/images/home/7.jpg" class="img-responsive" alt="blog carousel">
                            <div class="blog-item white">
                                <header  class="blog-heading">
                                    <h4><a href="#">How to survive the tough <br/>path of life</a></h4>
                                    <div class="meta-discibtion">
                                        <span>By <a href="#">Admin</a></span>|<span>Dec 5th, 2016</span>
                                    </div>
                                </header>
                            </div>
                            <img class="over-right" src="assets/images/home/lime.png" alt="">
                        </article><!--/.blog-carousel-item-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-item-two">
                        <article class="blog-item">
                            <header>
                                <div class="blog-heading">
                                    <h4><a href="#">First charity activity of this summer </a></h4>
                                    <div class="meta-discibtion">
                                        <span>By <a href="#">Admin</a></span>|<span>Dec 5th, 2016</span>
                                    </div>
                                </div>
                            </header>
                            <p>As a non-profit organization with many years of operation, we always strive for our mission with a modern vision and we hope more people can contribute to our activities...</p>
                            <a href="#" class="readmore">More</a>
                        </article><!--/.blog-carousel-item-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <article class="blog-item mb30">
                        <img src="assets/images/home/8.jpg" class="img-responsive" alt="blog image">
                        <div class="content">
                            <header>
                                <div class="blog-heading">
                                    <h4><a href="#">Africa Yoga Project</a></h4>
                                    <div class="meta-discibtion">
                                        <span>By <a href="#">Admin</a></span>|<span>Dec 5th, 2016</span>
                                    </div>
                                </div>
                            </header>
                            <p>Thousands of teenagers across the UK will have school lessons in mindfulness in an experiment designed to see.</p>
                        </div>
                    </article><!--/.blog-carousel-item-->
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="blog-style-three mb30">
                        <div class="content">
                            <span>"</span>
                            <p>"printing and typesetting indu stry orem Ipsum been the indu text unkno"</p>
                            <a href="#" class="green">Help us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <article class="blog-item mb30">
                        <img src="assets/images/home/10.jpg" class="img-responsive" alt="blog image">
                        <div class="content">
                            <header>
                                <div class="blog-heading">
                                    <h4><a href="#">First charity activity of this summer</a></h4>
                                    <div class="meta-discibtion">
                                        <span>By <a href="#">Admin</a></span>|<span>Dec 5th, 2016</span>
                                    </div>
                                </div>
                            </header>
                            <p>As a non-profit organization with many years of operation, we always strive for our mission with a modern vision and we hope more people can contribute to our activities...</p>
                        </div>
                    </article><!--/.blog-carousel-item-->
                </div>
            </div>
        </div>
    </section>
    <!-- //  Blog Section  -->
