<div *ngIf="joInDetail " >
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ joInDetail.title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <div class="strike">
        <span>{{joInDetail.begindate | date:'fullDate' }}  <i class="fa fa-arrow-right"></i>   {{joInDetail.enddate | date:'fullDate'}}</span>
      </div>

      <p>Field of work : {{joInDetail.fieldOfWork}}</p>
      <p>Salary estimate : {{joInDetail.salaryEstimate}}</p>
      <button *ngIf="role==='CampChef'" class="btn btn-primary mBot5" (click)="getBestCandsEmail(joInDetail.id)">Get
        best candidates & email them
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10">
      <ul class="nav nav-tabs mBot" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" data-toggle="tab" href="#description" role="tab">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#contactDetails" role="tab">Contact details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#companyDetails" role="tab">Company details</a>
        </li>
        <li class="nav-item" *ngIf="bestCands == true && refugees.length != 0">
          <a class="nav-link" data-toggle="tab" href="#bestCandidates" role="tab">Best Candidates</a>
        </li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="description" role="tabpanel"> {{ joInDetail.description }}</div>
        <div class="tab-pane" id="contactDetails" role="tabpanel">
          <p><strong>Name: </strong>{{joInDetail.contactName}}</p>
          <p><strong>Email: </strong>{{joInDetail.contactEmail}}</p>
          <p><strong>Phone number: </strong>{{joInDetail.contactnumber}}</p>
        </div>
        <div class="tab-pane" id="companyDetails" role="tabpanel">
          <p><strong>Name: </strong>{{joInDetail.companyName}}</p>
          <p><strong>Address: </strong>{{joInDetail.companyAdress}}</p>
        </div>
        <div class="tab-pane" id="bestCandidates" role="tabpanel">
          <div *ngFor="let r of refugees">
            <p><strong>Name </strong>{{r.firstname}} {{r.lastName}}</p>
            <p><strong>Gender </strong>{{r.sex}}</p>
            <p><strong>Date of birth </strong>{{r.dateOfBirth}}</p>
            <p><strong>Nationality </strong>{{r.nationality}}</p>
            <p><strong>French language level </strong>{{r.frenchlanguageLevel}}</p>
            <p><strong>English language level </strong>{{r.englishlanguageLevel}}</p>
            <p><strong>Highest degree </strong>{{r.highestDegree}}</p>
            <p><strong>Years of experience </strong>{{r.yearsOfExperience}}</p>
            <p><strong>Email </strong>{{r.email}}</p>
            <p><strong>Field of work </strong>{{r.fieldOfWork}}</p>
            <p><strong>Adress </strong>{{r.adress}}</p>
            <p><strong>Phone number </strong>{{r.phoneNumber}}</p>
            <hr>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<div *ngIf="etatInDetail" >
  <h1>{{jobOfferFound === null? "Add ":"Update "}}a job offer</h1>
  <form [formGroup]="jobofferForm"
        (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-xs-10">
        <div class="col-xs-5">

          <div class="input-group input-group-sm ">

            <input placeholder="Title" class="form-control" [(ngModel)]="speechData" required formControlName="title"
                   type="text">
            <span class="input-group-btn">
    <button (click)="switchState()" [ngClass]="(etatMic == false)?'btn btn-primary mBot5':'btn btn-danger mBot5'"
            type="button">
        <i [ngClass]="(etatMic == false)?'fa fa-microphone':'fa fa-microphone-slash'"></i>
    </button>
            </span>
          </div>


            <textarea placeholder="Description" class="form-control" required formControlName="desc" cols="20"
                      rows="5"></textarea>

          <div class="mBot5">
            <input class="form-control" formControlName="bd" required type="date">
          </div>
          <div class="mBot5">
            <input class="form-control" formControlName="ed" required type="date">
          </div>
          <input placeholder="Field of work" class="form-control" required formControlName="fow" type="text">

          <input placeholder="Salary estimate" class="form-control" required formControlName="salaryE" type="number"
                 pattern="[0-9]+">
        </div>
        <div class="col-xs-5">
          <input placeholder="Contact name" class="form-control" required formControlName="contactN" type="text">
          <input placeholder="Contact email" class="form-control" required formControlName="contactE" type="text">
          <input placeholder="Contact number" class="form-control" required formControlName="contactNumber"
                 type="number" pattern="[0-9]+">
          <input placeholder="Company name" class="form-control" required formControlName="companyN" type="text">
          <input placeholder="Company address" class="form-control" required formControlName="companyA" type="text">
          <button [disabled]="!jobofferForm.valid"
            type="submit"
            class="btn btn-primary">
            <span><i class="fa fa-check"></i></span> {{jobOfferFound === null? "Create":"Update"}}
          </button>
        </div>
      </div>
    </div>

  </form>
</div>
