<footer>
        <div class="main-footer">
            <div class="container">
                <div class="row row-eq-tab">
                    <div class="col-md-4 col-xs-12">
                        <div class="single map">
                            <a href="#"><img src="assets/images/footer/1.png" alt="footer logo" /></a>
                            <div class="map-bg">
                                <p>
                                    We prevents and alleviates human suffering in the face of emergencies by mobilizing the power of volunteers and donors. We are is fighting every minute of every day to finish what we started and achieve our vision...
                                </p>
                                <a href="#" class="readmore">Read more <i class="fa fa-angle-double-right"></i></a>
                            </div>
                            <div class="topbar-social">
                                <ul>
                                    <li><a href="#!"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#!"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#!"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#!"><i class="fa fa-skype"></i></a></li>
                                    <li><a href="#!"><i class="fa fa-pinterest-square"></i></a></li>
                                    <li><a href="#!"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="single recent-work">
                            <h3>Recent Work</h3>
                            <ul class="resect-work-carousel">
                                <li>
                                    <div class="work-item">
                                        <img src="assets/images/footer/3.png" class="img-responsive" alt="recent work">
                                        <a href="#!"><i class="ion-search"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-item">
                                        <img src="assets/images/footer/5.png" class="img-responsive"  alt="recent work">
                                        <a href="#!"><i class="ion-search"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-item">
                                        <img src="assets/images/footer/7.png" class="img-responsive"  alt="recent work">
                                        <a href="#!"><i class="ion-search"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-item">
                                        <img src="assets/images/footer/4.png" class="img-responsive"  alt="recent work">
                                        <a href="#!"><i class="ion-search"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-item">
                                        <img src="assets/images/footer/6.png" class="img-responsive"  alt="recent work">
                                        <a href="#!"><i class="ion-search"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-item">
                                        <img src="assets/images/footer/4.png" class="img-responsive"  alt="recent work">
                                        <a href="#!"><i class="ion-search"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-item">
                                        <img src="assets/images/footer/6.png" class="img-responsive"  alt="recent work">
                                        <a href="#!"><i class="ion-search"></i></a>
                                    </div>
                                </li>
                            </ul>
                            <a class="readmore" href="#">View more <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="single resent-post">
                            <h3>Recent Posts</h3>
                            <ul>
                                <li><a href="#">How you can impact your customers</a><span>Just Now</span></li>
                                <li><a href="#">Charity is all about quality</a><span>5 Hours Ago</span></li>
                                <li><a href="#">Is your website user friendly?</a><span>Today</span></li>
                                <li><a href="#">Evaulation offers weekly updates &amp; more</a><span>Yesterday</span></li>
                                <li><a href="#">Your customers should love your web</a><span>3 Days Ago</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                  <div class="col-sm-8 col-sm-push-4">
                        <div class="footer-menu text-right">
                            <ul>
                                <li><a href="#!">Home</a></li>
                                <li><a href="#!">About</a></li>
                                <li><a href="#!">Services</a></li>
                                <li><a href="#!">Portfolio</a></li>
                                <li><a href="#!">Blog</a></li>
                                <li><a href="#!">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-pull-8">
                        <div class="copyright-text">
                            &copy; COPYRIGHT IGLYPHIC
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- // End Footer  -->