    <section class="feature-service-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/images/home/icon6.png" alt="">
                        </div>
                        <div class="text">
                            <h3><a href="#">Crowdfunding</a></h3>
                            <p>Our church is open and friendly with masocial activities. To keep our church running smoothly, we have committees anyone can join.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/images/home/icon7.png" alt="">
                        </div>
                        <div class="text">
                            <h3><a href="#">Donating</a></h3>
                            <p>Our church is open and friendly with masocial activities. To keep our church running smoothly, we have committees anyone can join.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="become-volienter pdb80">
                        <div class="text">
                            <h3> BECOME A<br>
                            <span class="green">VOLUNTEER</span></h3>
                            <p >We can Change everything together</p>
                            <p class="border">Quis autem velum iure reprehe nderit. Lorem ipsum dolor sit dum in sagittis. Nulla or narjusto laoreet onse ctetur adipisci adipiscing elitliquam vitae fring.</p>
                        </div>
                        <a class="green-button button-hover-one" href="#!">Sign up today</a>
                    </div>
                </div>
            </div>
        </div>
    </section>