 <!-- == Video Section == -->
    <section class="video-section mt100">
        <div class="video-box">
            <div class="iamge">
                <img src="assets/images/home/4.jpg" class="img-responsive" alt="" />
            </div>
            <!-- <span class="play-video-button"><a href="#"><i class="fa fa-play-circle"></i></a></span> -->
            <a href="#" class="play-video-button"> <img src="assets/images/home/play-button.png" alt="" /></a>

        </div>
        <div class="short-about-us mt90">
            <span class="left-rotate">
                 UPDATES FROM OUR GALLERY
            </span>

            <h2>THERE ARE MULTIPLE WAYS YOU CAN HELP OTHERS TO CHANGE THEIR LIVES</h2>
            <p>
                Duis sed odio sit amet nibh vulpuate cursus a sit amet mauris. Morbi accumsan ipsuy veli. Nam nec telus aodio tincidunt auctor Class aptent taciti sociosqu adlitora orquper conubiea Mauris ine odio condimentum sit am lorem thats ornar eodio Sed non mauris vitae erat it an consequat auctor. Donec vel mauris quam.
            </p>
            <div class="round-slider mt70 pdb90">
                <div class="current-collection">
                    $ 699
                    <span>CURRENT COLLECTION</span>

                </div>
                <div class="round-slider-collection" id="collection-percent"></div>
                <div class="terget-need">
                    $ 12399
                    <span>TARGET NEEDED</span>
                </div>
            </div>
        </div>
        <div class="video-box-background">
            <div class="close-video">
                <i class="fa fa-times"></i>
            </div>
        </div>
    </section>
    <!-- // Video Secton= -->