       <!-- == Navbar  ==-->
       <div class="menu-area">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <nav id="menuzord" class="menuzord">
                           <ul class="menuzord-menu">
                             <li routerLinkActive="active">
                               <a routerLink='/home-page'>Home</a></li>
                               <li><a href="about.html">About</a></li>
                               <li><a href="event.html">Event</a></li>
                               <li><a href="causes-grid.html">Causes</a></li>
                               <li ><a href="blog.html">Blog</a></li>
                               <li><a href="donate.html">Donate</a></li>
                               <li><a href="contact-us.html">Contact</a></li>
                             <li routerLinkActive="active">
                               <a routerLink='/jobOffers'>JobOffers</a></li>
                           </ul>

                                        <cmp-login></cmp-login>
    
                       </nav>
                   </div>

           </div>
       </div>
       <!-- // Navbar  -->
       </div>
